html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-table{
    margin-top: 15px;

}
/* 解决表格不对齐问题 */
body .el-table th.gutter {
    display: table-cell !important
}
/* 解决树控件表格与表头不对齐问题 */
.zk-table__body-wrapper {
    display: table-cell !important
}